<section data-ng-controller="CreateVaultController" class="content" data-ng-show="global.authenticated">

<style>
.dropstyle {
    border:1px solid #aaaaaa;
    width:130px;
    height:70px;
    padding:2px;
    display: table-cell;
    vertical-align: middle;
    text-align:center;
}

.cipher {
    max-width: 200px;
    word-wrap: break-word;
    display: block;
    padding:6px;
    border:1px solid silver;
    margin:5px;
    box-shadow: 10px -10px 25px #CCC; 
    border-radius:10px; 
    cursor: move;
}
.arrow {
    font-size:30px;
    padding:5px;
}

.sourceReview {
    display: table-cell;
    vertical-align: middle;
    text-align:center;
    width:100%;
    height:200px;
    color:gray;
    font-style:italic;
}

.error{
	color: red;
}

.input_style {
	display: inline-block; 
	text-align: left; 
	margin-bottom:5px;
	margin-top:5px;
}

.label_style {
	display: inline-block; 
	text-align: left;
}

.sourceReviewContains {
    width:100%;
    height:200px;
}

</style>

	<h2>Create Vault</h2>

	<div class="panel panel-default" style="padding:20px">

		<div>
			Design and create your own vault. You can protect your vault with security algorithms. Remember, everything affects the level of security and how easy it is to rob your vault!<br/><br/>
			<a href="http://youtu.be/uYLp4iZHmtE" target="_blank">See vault creation help video</a>
			<br/><br/>
		</div>

		<div>
			<form name="vault_form">
			
				<input required ng-model="vault_name" name="vault_name" 
						style="width:275px;"
					   	placeholder="Vault name" type="text" ng-minlength=3 
					   	ng-maxlength=20 class="form-control input_style"><br/>

				<div class="error"
			        ng-show="vault_form.vault_name.$dirty && vault_form.vault_name.$invalid">
				    <small class="error" ng-show="vault_form.vault_name.$error.required">
				        Vault name is required.
				    </small>
				    <small class="error" ng-show="vault_form.vault_name.$error.minlength">
				        Vault name is required to be at least 3 characters.
				    </small>
				    <small class="error" ng-show="vault_form.vault_name.$error.maxlength">
				        Vault name cannot be longer than 20 characters.
				    </small>
			  	</div>

				<input required ng-model="amount" name="amount" 
					placeholder="Amount to store in mBTC" 
				   	style="width:200px;" 
				   	type="number" class="form-control input_style"/>

				   <label class="label_style">
				   mBTC
				   </label>	<br/>

				<div class="error" ng-show="vault_form.amount.$dirty && vault_form.amount.$invalid">
				    <small class="error" ng-show="vault_form.amount.$error.required">
				        Amount is required.
				    </small>
				    <small class="error" ng-show="vault_form.amount.$invalid">
				        Amount shoud be numbers only (e.g. "20.5").
				    </small>
			  	</div>

		  	    <div class="row" style="padding-top:5px;">
			        <div class="col-md-4">
			            <p class="input-group">
			              <input required type="text" name="end_date" datepicker-popup="dd.MM.yyyy" ng-model="end_date" is-open="opened" close-text="Close" placeholder="End date"  class="form-control" min="{{minDate}}" disabled />
			              <span class="input-group-btn">
			                <button class="btn btn-default" ng-click="open($event)">
			                	<i class="glyphicon glyphicon-calendar"></i>
			                </button>
			              </span>
			            </p>
			        </div>
			        <label class="label_style">
						Vault will be {{ dateDifference() }} days active
					</label>
			    </div>

				<div class="error" ng-show="vault_form.end_date.$dirty && vault_form.end_date.$invalid">
				    <small class="error" ng-show="vault_form.end_date.$error.required">
				       End date is required.
				    </small>
				    <small class="error" ng-show="vault_form.end_date.$invalid">
				       End date must be in future.
				    </small>
			  	</div>

				<textarea required style="width:270px; margin-top:5px; margin-bottom:5px;" name="description" rows="5" placeholder="Vault description" ng-model="description" ng-minlength=10 ng-maxlength=200 class="form-control"></textarea>

				<div class="error" ng-show="vault_form.description.$dirty && vault_form.description.$invalid">
				    <small class="error" ng-show="vault_form.description.$error.required">
				        Description is required.
				    </small>
				    <small class="error" ng-show="vault_form.description.$invalid">
				       Description length can be 10-200 chars.
				    </small>
			  	</div>

				<input required ng-model="location" name="location" type="text" placeholder="Vault location" ng-minlength=5 ng-maxlength=25 style="width:250px" class="form-control input_style"/><br/>

				<div class="error" ng-show="vault_form.location.$dirty && vault_form.location.$invalid">
				    <small class="error" ng-show="vault_form.location.$error.required">
				        Location is required.
				    </small>
				    <small class="error" ng-show="vault_form.location.$invalid">
				       Location length can be 5-25 chars.
				    </small>
			  	</div>

				<h3>Protect your vault with cipher algorithms</h3>
				<b>Algorithms (drag and drop):</b><br/>

				<span id="drag1" draggable="true" ondragstart="drag(event)" 
						style="background-color:#F0FFF0; display: block ; float: left" class="cipher">
				    Caesar cipher
				</span>
				<span id="drag4" draggable="true" ondragstart="drag(event)" 
						style="background-color:#F0FFF0; display: block ; float: left" class="cipher">
				    Vigenere cipher
				</span>
				<span id="drag2" draggable="true" ondragstart="drag(event)" 
						style="background-color:#F0F8FF; display: block ; float: left" class="cipher">
				    Own cipher 1
				</span>
				<span id="drag3" draggable="true" ondragstart="drag(event)" 
						style="background-color:#F0F8FF; display: block ; float: left" class="cipher">
				    Own cipher 2
				</span>
				<span id="drag4" draggable="true" ondragstart="drag(event)" 
						style="background-color:#F0F8FF; display: block ; float: left" class="cipher">
				    Own cipher 3
				</span>
				<br/><br/><br/>
				<table id="table" style="min-width:550px">
				    <tr>
				        <td>Text to be crypted</td>
				        <td class="arrow">
				            &rarr;
				        </td>
				        <td>
				            <div id="div1" ondrop="drop(event)" ondragover="allowDrop(event)" class="dropstyle">
				                <i style="color:gray">Drag algorithm here</i>
				            </div>
				        </td>
				        <td class="arrow">
				            &rarr;
				        </td>
				        <td>
				            <div id="div2" ondrop="drop(event)" ondragover="allowDrop(event)" class="dropstyle">
				                <i style="color:gray">Drag algorithm here</i>
				            </div>
				        </td>
				        <td class="arrow">
				            &rarr;
				        </td>
				        <td>
				            <div id="div3" ondrop="drop(event)" ondragover="allowDrop(event)" class="dropstyle">
				                <i style="color:gray">Drag algorithm here</i>
				            </div>
				        </td>
				        <td class="arrow">
				            &rarr;
				        </td>
				        <td><span id="result">?</span></td>
				    </tr>
				    <tr>
				        <td colspan="7" style="padding:5px; padding-top:15px; padding-bottom:30px;">
				            <button onclick="run()" class="btn btn-success">Test run</button> 
				            <button onclick="removeAllCiphers()" class="btn btn-inverse">Remove all selected ciphers</button>
				        </td>
				    </tr>
				    <tr>
				        <td colspan="8">
				            <textarea class="sourceReview" style="margin-bottom:10px" ondrop="dropSource(event)" ondragover="allowDrop(event)"
				            id="sourceElement" onkeyup="this.setAttribute('data-value', this.value);" data-value="">Drop algorithm here to view/edit source</textarea>
				            <br/>
				            <button onclick="saveSource()" class="btn btn-primary">Save algorithm changes</button>
				            <button onclick="resetSource()" class="btn btn-inverse">Reset source window</button>
				        </td>
				    </tr>
				</table>
				<br/>
				<button ng-click="createVault()" ng-disabled="vault_form.$invalid" class="btn btn-primary btn-large">
					Create vault
				</button>
				<span ng-show="vault_form.$invalid" style="padding-left:10px;">
					Please fill all fields correctly before creating the vault.
				</span>
				<span style="color: green; padding-left:10px;">{{message}}</span>
				<span style="color: red; padding-left:10px;">{{error}}</span>
				<br/>
				<br/><br/>
		<p>
			Tips:
			<ul>
				<li>Use javascript language to create your own cipher algorithm</li>
				<li>Do not modify function name and don't change the password phrase length</li>
				<li>It is not recommended to use predefined algorithms in your vault as such</li>
				<li>Password phrase is automatically generated by the system when the vault is created, you cannot affect to it, you can only determine how the phrase is crypted with your algorithm</li>
				<li>When the vault is expired the bitcoins will return to the vault owners balance in the next day (interests included)</li>
			</ul>
		</p>

			</form>
		</div>
	</div>
</section>
