<section data-ng-controller="DepositController" class="content" data-ng-show="global.authenticated">
	<h2>Deposit</h2>

	<div>
		Deposit some Bitcoins to this address and the Bitcoins will be added to your balance shortly.<br/><br/>
	</div>

	<div>
		Your payment address: <b> {{paymentAddress}} </b> <br/><br/>
	</div>

	<button ng-click="loadData()" class="btn-info btn">Generate new address</button>
	<br/><br/>
		<p>
			Tips:
			<ul>
				<li>Amount will be added to your balance after 6 confirmations, with small amounts this may take up to 10-30 min</li>
			</ul>
		</p>
</section>
