<div class="container" data-ng-controller="HeaderController">
    
    <div class="navbar-header">
        <button class="navbar-toggle" type="button" 
        data-toggle="collapse" data-target=".navbar-collapse">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
        <a href="/" class="navbar-brand">Bitcoin Stash - Profit!</a>
    </div>
    
    <div class="collapse navbar-collapse bs-navbar-collapse" id="show" role="navigation">
        <ul class="nav navbar-nav navbar-right" data-ng-show="global.authenticated">
            <li class="balance" ng-show="!loading">
                <a>Balance: {{global.user.balance | number:3}} mBTC </a>
            </li>
            <li ng-show="loading" style="margin-top:10px; margin-right:10px">
                <img src="img/loaders/ajax-loader-dark.gif" />
            </li>
            <li class="balance">
                <a href="#" ng-click="refreshBalance()">
                    <span class="glyphicon glyphicon-refresh"></span>
                </a>
            </li>
            <li class="divider-vertical"></li>
            <li class="dropdown">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                    {{global.user.name}} <b class="caret"></b>
                </a>
                <ul class="dropdown-menu inverse-dropdown">
                    <li>
                        <a href="#!/" style="color: #999">Home</a>
                        <a href="#!/deposit" style="color:#999">Deposit</a>
                        <a href="#!/withdraw" style="color:#999">Withdraw</a>
                        <a href="#!/create_vault" style="color:#999">Create vault</a>
                        <a href="/signout" style="color:#999">Signout</a>
                    </li>
                </ul>
            </li>
        </ul>
        <ul class="nav navbar-nav navbar-right" id="navbar-main" data-ng-hide="global.authenticated">
            <li>
                <a href="signup">Signup</a>
            </li>
            <li class="divider-vertical"></li>
            <li>
                <a href="signin">Signin</a>
            </li>
        </ul>
    </div>
</div>