<section data-ng-controller="RobVaultController" class="content" data-ng-show="global.authenticated">
	<h2>Rob a vault: {{vault_name}}</h2>

	<p>
		Vault robbing attempt costs 0.1 mBTC and it will be automatically reduced from your balance.
	</p>

	<p>
		<b>Crypted password phrase:</b> {{crypted_password}}
	</p>
	<p>
		<b>Write the original password phrase</b>
	</p>
	<form class="form-horizontal" role="form" name="form">
	  <div class="form-group">
	    <div class="col-sm-2">
	    	<input name="text1" ng-minlength="{{len1}}" ng-maxlength="{{len1}}"
	    	maxlength="{{len1}}" 
	    	type="text" ng-model='text1' class="form-control" required>
	    </div>
	    <div class="col-sm-2">
	    	<input ng-minlength="{{len2}}" ng-maxlength="{{len2}}"
	    	maxlength="{{len2}}"
	    	type="text" ng-model='text2' class="form-control" required>
	    </div>
	     <div class="col-sm-2">
	    	<input ng-minlength="{{len3}}" ng-maxlength="{{len3}}"
	    	maxlength="{{len3}}"
	    	type="text" ng-model='text3' class="form-control" required>
	    </div>
	  </div>
	  	<div>
		  	<small class="error" ng-show="form.text1.$error.minlength">
				Vault name is required to be at least {{len1}} characters.
			</small>
		</div>
	  	<button ng-click="robVault()" ng-disabled="form.$invalid" class="btn" style="color:#ffffff; background-color:#060508; border-color: #4E4C57">
			<span class="glyphicon glyphicon-lock"></span> Submit password phrase
		</button>

		<i style="color:green">{{message}}</i>
		<i style="color:red">{{error}}</i>

		<br/><br/>
		<p>
			Tips:
			<ul>
				<li>Password phrase is same length as the crypted phrase</li>
			</ul>
		</p>
  </form>

</section>
