<section data-ng-controller="WithdrawController" class="content" data-ng-show="global.authenticated">

	<h2>Withdraw</h2>

	<div>
		The maximum amount to be withdrawed is {{ global.user.balance - 0.1 | number:3 }} mBTC.
		<br/><br/>
		Please check the hot wallet balance before making a withdrawal; if the balance is not sufficient for your withdrawal, please notify us by email.<br/>
		<a href="https://blockchain.info/address/1FWQA8rvURWgz3Pn2AjQ6gyFXaKwzNw8A5" target="_blank">
			Hot wallet balance
		</a>
		<br/><br/>
	</div>

	<div>
		<form role="form">
			<div class="form-group">
				<input ng-model="address" style="width:275px;" 
					   placeholder="Recieve address" 
					   class="form-control" type="text" required><br />

				<input ng-model="amount" placeholder="Amount in mBTC" 
					   style="width:140px;" type="text" 
					   class="form-control" required />
					   <br/>
					   Fee of 0.1 mBTC will be added, withdrawals are instant.
					   <br/><br/>

				<button ng-click="makeWithdraw()" class="btn btn-primary">Make a withdrawal</button><br/><br/>

				<span style="color: red;">{{error}}</span>
				<span style="color: green;">{{message}}</span>
			</div>
		</form>
	</div>
		
</section>
