.nav>li>a.brand {
    padding-left:20px;
    margin-left:0
}

.navbar {
}

.content {
    margin-top:27px;
    margin-left:10px;
    margin-right: 10px;
}

.balance {
    background-color: #282828;
}

.inverse-dropdown{
  background-color: #222;
  border-color: #080808;
}

@media (max-width: 555px) {
    .remove-not-vital { 
        display: none; 
    }
}
    
@media (max-width: 890px) {
    .remove-mobile { 
        display: none; 
    }
}


footer {
    position:fixed;
    left:0px;
    bottom:0px;
    height:30px;
    width:100%;
    background:#ddd;
    -webkit-box-shadow:0 8px 6px 6px black;
    -moz-box-shadow:0 8px 6px 6px black;
    box-shadow:0 8px 6px 6px black
}

footer p {
    padding:5px 0 12px 10px
}


.tWin {
    width: 50%;
    margin: 0 auto;
    box-shadow: 0 4px 10px gray;
}
.wider {
    width: 70%;
}
.xtraWide {
    width: 90%;
}
.tList {
    list-style: none;
}
.tList h4 {
    font-family: Monaco, Courier New, Courier;
    color: white;
    background: black;
    display: inline;
    box-shadow: 0 4px 10px gray;
    padding: 2px 4px 2px 2px;
    font-weight: normal;
}
.tList p {
    margin: 9px 0 22px 37px;
}
.footer {
    text-align: center;
}